extends layout

block styles
  link(rel="stylesheet", href="/css/availableProducts.css")

block content
  .container
    h2 Registered Products
    table#productTable
      thead
        tr
          th Product Name
          th Category
          th Unit Price
          th Quantity
      tbody
        if products.length
          each product in products
            tr
              td #{product.productName}
              td #{product.category}
              td #{product.unitPrice}
              td #{product.quantity}
        else
          tr
            td(colspan="4") No products available.

block scripts
  script(src="/js/availableProducts.js")
