meta(charset="UTF-8")
title MWF - Welcome
link(rel="stylesheet", href="/css/index.css")
header
  .img.d-flex.justify-content-center.align-items-center.mb-3
  img(src="/images/lg.jpg", alt="MWF Logo", width="120", height="120", class="logo-oval me-2")
  h2.mb-0 MAYONDO WOOD AND FURNITURE LIMITED
main.landing
  .card.welcome-card
    h2 👋 Welcome User
    p Whether you are a Manager or an Attendant, you can register to access the system.
    a.btn(href="/users") Proceed to Register
footer
  p © 2025 Mayondo Wood & Furniture Ltd