extends layout

block styles
  link(rel="stylesheet", href="/css/products.css")

block content
  .container
    h2 Register New Product
    form#productForm.form-card(action="/addProduct", method="post")
      .form-group
        label(for="productName") Product Name
        input#productName(type="text", name="productName", placeholder="e.g. Sofa Set", required)

      .form-group
        label(for="productCategory") Category
        select#productCategory(name="category", required)
          option(value) -- Select --
          option(value="Wood") Wood
          option(value="Furniture") Furniture

      .form-group
        label(for="unitPrice") Unit Price (UGX)
        input#unitPrice(type="number", name="unitPrice", required)

      .form-group
        label(for="quantity") Quantity
        input#quantity(type="number", name="quantity", required)

      button.btn-primary(type="submit") Save Product

block scripts
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
  //- script(src="/js/products.js")
