extends layout

block styles
  link(rel="stylesheet", href="/css/sales.css")

block content
  .container
    .form-card
      h2 Register New Sale
      form#salesForm(action="/recordSale", method="post")
        label(for="customerName") Customer Name
        input#customerName(type="text", name="customerName", required)

        label(for="productName") Product Name
        select#productName(name="productName", required)
          if stocks.length
            each stock in stocks
              option(value=stock.productName)= stock.productName


        label(for="productType") Product Type
        select#productType(name="productType", required)
          option(value="") -- Select type --
          option(value="Wood") Wood
          option(value="Furniture") Furniture

        label(for="quantity") Quantity
        input#quantity(type="number", name="quantity", min="1", required)

        label(for="unitPrice") Price (per unit)
        input#unitPrice(type="number", name="unitPrice", step="0.01", required)

        label(for="totalPrice") totalPrice
        input#totalPrice(type="number", name="totalPrice", step="0.01", required)
         //- Optional Transport Checkbox
        label(for="TransportIncluded") Transport
          input#transport(type="checkbox", name="transportIncluded")
          |  Included Transport (5%)

        label(for="date") Date
        input#date(type="date", name="date", required)

        label(for="paymentType") Payment Type
        select#paymentType(name="paymentType", required)
          option(value="") -- Select payment type --
          option(value="Cash") Cash
          option(value="Cheque") Cheque
          option(value="Bank transfer") Bank Transfer

        button(type="submit") Save Sale

block scripts
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
  script(src="/js/calculateTotal.js")
